<div class="navbar">
  <ul class="navbar__list">
    <div class="navbar__list__sector">
      <h3 [routerLink]="['/']" class="navbar__list__sector__item">FreestyleRaiderZ</h3>
    </div>
    <div class="navbar__list__sector">
      <li class="navbar__list__sector__item">Download</li>
    </div>
    <div class="navbar__list__sector">
      <li class="navbar__list__sector__item">Ranking</li>
    </div>
    <div class="navbar__list__sector">
      <li [routerLink]="['/register']" class="navbar__list__sector__item">Register</li>
    </div>
    <div class="navbar__list__sector">
      <li class="navbar__list__sector__item">Community</li>
    </div>
  </ul>
</div>
