/*
  ______ _____            _____ _____  ______ _____   ______
 |  ____|  __ \     /\   |_   _|  __ \|  ____|  __ \ |___  /
 | |__  | |__) |   /  \    | | | |  | | |__  | |__) |   / /
 |  __| |  _  /   / /\ \   | | | |  | |  __| |  _  /   / /
 | |    | | \ \  / ____ \ _| |_| |__| | |____| | \ \  / /__
 |_|    |_|  \_\/_/    \_\_____|_____/|______|_|  \_\/_____|
 -----------------------------------------------------------------------
 * Yo, McSic. Not sure if you're familiar with SCSS, but here's a quick run-down.
 * First off, don't freak out. If you don't want to take advantage of SCSS features,
 * you can simply write normal CSS within these files and it will work just fine.
 * First off, the main thing with SCSS for most people, is accessing children
Example:

                          .content-wrapper {

                            .__header {
                              display: flex;
                              justify-content: center;
                            }
                          }

* This would access the class "content-wrapper", then access content-wrapper's
child, "__header(BEM standard naming)" and set __header's display to flex, as
well as go ahead and justify-content pos.

* Also, quickly, you can do shit like this too

                        .header-item {
                          background-color: #282828;
                          color: #ccc;
                          border: 1px solid #323232;
                          transition: 1s;

                          &:hover {
                            background-color: #323232;
                            border: 1px solid #373737;
                          }
                        }
 * -----------------------------------------------------------------------*/
@import './scss/_colors.scss';

body {
 overflow: hidden;
 font-family: sans-serif;
 background-color: #ffffff;
 color: $fw-2gray;
}

.btn-frdz {
  background-color: $fw-blue;
  border: none;
  color: white;
  padding: .5rem;
  margin-top: .5rem;
  transition: .5s;

  &:hover {
    background-color: $fw-black;
    color: $fw-blue;
    cursor: pointer;
  }
}

.txt-frdz {
  border: 1px solid $fw-blue;
  font-family: sans-serif;
  color: #DDD;
  margin-top: .3rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  padding-left: .2rem;
}
